.main {
	text-align: center;
}

.button {
	width: 200px;
	height: 40px;
	margin: 5px;
	
	background-color: #b8e994;
	font-size: 26px;
}
.licznik {
	text-align: center;
	border: 1px solid;
	padding: 5px;
	background-color: #fad390;
	font-size: 36px;
	margin: 10px;
	width: 200px;
}
